.container {
    display: flex;
    gap: 10px;
    padding: 2px 3px;
    align-items: center;
    color: var(--color-text-primary); /* Set arrow and text color here */
    overflow: hidden;
    transition: color ease-in-out 0.3s;

    width: fit-content;

    
}


.borderContainer {
    display: inline-block; 
    text-decoration: none; 
    color: inherit; 
}


.borderContainer.border {
    border: 1px solid var(--color-text-primary);
    padding: 0.4rem;
    width: fit-content;
     
}


:global(.partialDark) .container{
    --color-text-primary: #2c2c2c;
}

:global(.dark) .container{
    --color-text-primary: #fff;
}

.container:hover{
    cursor: pointer;
}

.text {
    font-size: 1.25rem;
    
    text-shadow: 0 1.50rem 0 var(--color-text-primary);
    transition: transform 0.2s ease-in-out;
    
}



@media (min-width: 768px) {
    
    .container:hover .arrow {
        transform: rotate(45deg);
    }
    
    .container:hover .text {
        transform: translateY(-125%);
    }
}

.arrow {
    transition: transform 0.2s ease-in-out;
}

