.container {
    display: flex;
    gap: 10px;
    padding: 2px 3px;
    align-items: center;
    color: var(--color-text-primary); /* Set arrow and text color here */
    overflow: hidden;
    transition: color ease-in-out 0.6s;
    
}

.container:hover{
    cursor: pointer;
}

.text {
    font-size: 1.25rem;
    
    text-shadow: 0 1.50rem 0 var(--color-text-primary);
    transition: transform 0.2s ease-in-out;
    
}



.arrow {
    transition: transform 0.2s ease-in-out;
}

.container:hover .arrow {
    transform: rotate(45deg);
}

.container:hover .text {
    transform: translateY(-125%);
}