.container {
    display: grid;
    max-width: 30rem;
    grid-template-columns: repeat(10, 3rem);
    row-gap: 2rem;
    grid-template-rows: repeat(4, 3rem);
    transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
    
}


.icon1, .icon2 {
    font-size: 4em; 
    color: var(--color-text-primary); 
    transition: inherit;
    

}

.icon1:hover, .icon2:hover {
    
    color: var(--color-text-secondary); 
    cursor: pointer;
    

}

.icon1 {
    grid-area: 1/1/2/3;
}

.icon2 {
    grid-area: 1/4/2/6;
}

form {
    grid-area: 2/1/7/13;
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 2rem;
}


.name, .email, .message {
    background: none;
    font-size: 1.2rem;
    color: var(--color-text-primary);
    
    
    border: 1px solid var(--color-text-primary);
    transition: inherit;

}

.name, .email {
    height: 2rem;
}

.message {
    height: 6rem;
}