.container {
    position: fixed;
    height: 8vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 1000;

}

.spacer {
    height: 8vh; 
    width: 100%;
    background-color: var(--color-bg-main);
    transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

.logo {
    height: 1px;
    width: 1px;
}
