.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
    
}

.title {
    font-size: 24px;
    color: var(--color-text-primary);
    background-color: var(--color-accent);
    
    padding: 8px 15px;
    margin-left: 1.25rem;
    align-self: flex-start;
    display: inline-block;
    transition: inherit;
    
}

.alternateTitle {
    align-self: flex-end;
    margin-left: 0px;
    margin-right: 1.25rem;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-project-bg);
    max-width: 100%;
    padding: 2.5rem;
    transition: inherit;
}

p{
    
    color: var(--color-text-primary);
    font-size: 1.2rem;
    line-height: 1.5;
    
    
}

i{
    color: var(--color-text-primary);
    font-size: 1rem;   
    font-style: italic;
    margin-bottom: 1.5rem;
    align-self: flex-start;
}

.buttonsContainer{
    display: flex;
    align-self: flex-end;
    gap: 10px;
}

@media (max-width: 1024px) {
    .container{
        max-width: 25rem;
    }
    
}

@media (max-width: 768px) {
    .container{
        max-width: 100%;
    }

    
    .infoContainer{
        padding: 2rem;
    }
}


@media (max-width: 450px) {
    .buttonsContainer{
        align-self: center;
        width: 100%;
        justify-content: space-between;
    }
}