.container{
    display: flex;
    width: 90%;
    padding: 3rem;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

.titleContainer{
    display: flex;
    align-items: baseline;
    
    
    
    margin-bottom: 30px;
}

.num{
    color: var(--color-text-primary);
    font-size: 18px;
    transition: inherit;
    
}



.title{
    color: var(--color-text-primary);
    
    font-size: 38px;
    transition: inherit;
    
}

.container > div{
    color: white;
    
    font-size: 24px;
    padding: 0;
}

.container > p{
    color: var(--color-text-primary);
    font-size: 22px;
    
    
}