.container{
    display: flex;
    max-width: 80%;
    padding: 1rem;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

.titleContainer{
    display: flex;
    align-items: baseline;
    
    
    
    margin-bottom: 30px;
}

.num{
    color: var(--color-text-primary);
    font-size: 18px;
    transition: inherit;
    
}



.title{
    color: var(--color-text-primary);
    
    font-size: 2rem;
    font-weight: 600;
    transition: inherit;
    
}



.container > p{
    color: var(--color-text-primary);
    font-size: 1.25rem;
    font-weight: 500;
    
    
}

@media (max-width: 768px) {
    .container > p{
        color: var(--color-text-primary);
        font-size: 1.1rem;
        font-weight: 500;
        
        
    }
}